{{!-- Dashboard with events --}}

{{#if posts.length}}
<section>
  <h2>Your Events</h2>
  <ul class="list-group">
    {{#each posts as |post|}}
    <li class="list-group-item">
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <h5 class="pb-4 text-center">You do not have any events</h5><br />
  <a href="/dashboard/create" class="btn btn-primary me-2" role="button">Create Event</a>
</section>
{{/if}}