{{#if pets.length}}
<section>
  <h2>Your Pets</h2>
  <ul class="list-group">
    {{#each pets as |pet|}}
    <li class="list-group-item">
      {{> pet-info pet}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <h5 class="pb-4 text-center mb-2">You do not currently have any pets added</h5>
</section>
{{/if}}

<h5>Add a pet:</h5>
<form class="pet-form">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="breed">Breed:</label>
    <input type="text" id="breed" />
  </div>
    <div>
    <label for="age">Age:</label>
    <input type="text" id="age" />
  </div>
    <div>
    <label for="size">Size:</label>
    <input type="text" id="size" />
  </div>
    <div>
    <label for="description">Description:</label>
    <textarea id="description" rows="5"></textarea>
  </div>
  <div>
    <button type="submit">Add Pet</button>
  </div>
</form>

<script src="/javascript/add-pet.js"></script>