{{!-- Page for when users clicks on individual event --}}

{{!-- Event description --}}
<article class="event">
  <div class="my-2">
    <a href="/user/{{post.user.id}}">{{post.title}} - Created on {{format_date post.created_at}}</a><br />
    {{post.details}}
  </div>
</article>

{{!-- If signed in will show comment box --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
  
</form>
{{/if}}

{{!-- Prior comments are visible regardless if signed in --}}
{{> comments post.comments}}

{{! link to JS}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}