<article class="event">
  <div class="my-2">
    <a href="/user/{{post.user.id}}">{{post.title}} - Created on {{format_date post.created_at}}</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.comments}}

{{! edit src link here}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}